@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap'); /*font-family: 'Montserrat', sans-serif;*/



header {
    position: relative;
    padding: 21px 71px;
    width: 100%;
    height: 770px;
    background: #8E1F7E;
    z-index: 10;
}

.FlexRow-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.aNavigation {
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.verticalLineHeader {
    height: 35px;
    margin-left: 32px;
    margin-right: 25px;
    border-left: 1px solid #FFFFFF;
}

.horizontalLineHeader {
    border-bottom: 4px solid #FFFFFF;
    width: 1780px;
}

.logo {
    margin-top: 38px;
}

.Burger {
    margin: 45px auto;
    width: 36px;
    height: 15px;
    border-top: 4px solid #FFFFFF;
    border-bottom: 4px solid #FFFFFF;
}

.cases {
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
}

.obliqueLine {
    margin-left: 11px;
    margin-right: 11px;
}

.casesCenter {
    margin: 22px auto;
}

.cockerel {
    margin-top: -62px;
    margin-left: 291px;
    z-index: 20;
}

content{
    position: absolute;
    margin: -240px 73px 0px;
    width: 1778px;
    height: 368px;
    background: #FFFFFF;
    z-index: 15;
}

.blockClient {
    display: flex;
}

.headerClient {
    padding: 43px 18px 0px 89px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.textClient {
    padding: 39px 0px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    color: #000000
}

.arrows {
    margin: 41px 325px;
    width: 122px;
    height: 13px;
}



.russianField {
    margin-top: -10px; 
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 82px;
    line-height: 48px;
    align-items: center;
    text-align: center;
    letter-spacing: 6.6129px;
    text-transform: uppercase;
    color: #000000;
}

.wwwPolerusskoe {
    display: block;
    margin: 0 auto;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    opacity: 0.6;
    margin-top: 35px;
}

.horizontalLineContentTop {
    margin-top: 26px;
    margin-left: 92px;
    border-bottom: 4px solid #000000;
    width: 1599px;
}

.Block1 {
    margin-top: 23px;
    margin-left: 305px;
    display: flex;
    justify-content: center;
}

.costReduction {
    margin-top: -30px;
    font-size: 42px;
    line-height: 72px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: uppercase;
    color: #000000;
}

.costReductionText1 {
    margin-left: 28px;
    margin-top: 16px; 
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

/*
.verticalLineContent {
    margin: 0 auto;
    height: 123px;
    border-left: 1px solid #000000;;
}
*/



.displayFlex {
    display: flex;
}

.Block2 {
    margin-top: 23px;
    margin-left: 248px;
    display: flex;
    justify-content: center;
}

.costReductionText2 {
    margin-left: 43px;
    margin-top: 16px; 
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.verticalLineContent {
    height: 123px;
    margin-left: 265px;
    border-left: 1px solid #000000;
}

.horizontalLineContentBottom {
    margin-left: 92px;
    border-bottom: 4px solid #000000;
    width: 1599px;
}

.task{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #002EFF;
}

.taskText {
    margin-left: -3px;
    margin-top: 30px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
    max-width: 650px;
}

.taskBlock {
    margin-left: 78px;
    margin-top: 129px;
}

.WhatIsDone {
    margin-left: 20px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #002EFF;
}

.WhatIsDoneText {
    margin-left: 20px;
    margin-top: 30px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
    max-width: 650px;
}
